.button-wrapper.filled {
  .button-container {
    background-color: var(--md-sys-color-primary);
  }

  .button-container.disable {
    background-color: var(--md-sys-color-on-surface);
  }

  .button-content {
    color: var(--md-sys-color-on-primary);
  }

  .button-content.disable {
    color: var(--md-sys-color-on-surface-variant);
  }

  .button-layer {
    background-color: var(--md-sys-color-on-primary);
  }
}
