.button-wrapper.text {
  .button-container {
    background-color: (var(--md-sys-color-surface), 0);
  }

  .button-container.disable {
    background-color: (var(--md-sys-color-on-surface), 0);
  }

  .button-content {
    color: var(--md-sys-color-primary);
  }

  .button-content.disable {
    color: var(--md-sys-color-on-surface-variant);
  }

  .button-layer {
    background-color: var(--md-sys-color-primary);
  }
}
